<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870670473722-cjgo1d496aa4ekmd373nqis89id0u4aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870670473722-cjgo1d496aa4ekmd373nqis89id0u4aa</string>
	<key>API_KEY</key>
	<string>AIzaSyBEVkaBNKKxfMDT8YwEKnMyi8cCZ7W4d2s</string>
	<key>GCM_SENDER_ID</key>
	<string>870670473722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a</string>
	<key>PROJECT_ID</key>
	<string>fir-test-b8d06</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-b8d06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870670473722:ios:8d39610101cfb8e38b2c43</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-b8d06.firebaseio.com</string>
</dict>
</plist>